<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="col-md-8 offset-md-2">
        {% if user.is_authenticated %}
        <h1>Records</h1>

        <table class="table table-hover table-bordered">
            <thead class="table-lights">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Address</th>
                  <th scope="col">City</th>
                  <th scope="col">State</th>
                </tr>
          </thead>
        {% if records %}
            <tbody>
            {% for record in records %}
                    <tr>
                      <td style="text-decoration: underline"><a href="{% url 'record' record.id %}">{{ record.id }}</a></td>
                      <td>{{ record.first_name }} {{ record.last_name }}</td>
                      <td>{{ record.email }}</td>
                      <td>{{ record.phone }}</td>
                      <td>{{ record.address }}</td>
                      <td>{{ record.city }}</td>
                      <td>{{ record.state }}</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% else %}
        <h1>
            Login
        </h1>
        <br>
        <form method="POST" action="{% url 'home' %}">
            {% csrf_token %}
              <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" name="username" placeholder="Your Username" required>
              </div>
              <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Your Password" required>
              </div>
              <button type="submit" class="btn btn-secondary">Login</button>
        </form>
    </div>
</body>
</html>
{% endif %}
{% endblock %}